<div>
    <div>COMPONENT SEARCH</div>
    <form action="/componentsearch" method="post">
    <label > Search
        <input type="text" name="component">
    </label>
    <input type="submit" value="Search">
    </form>
</div>